<div class="container admin-dashboard">
  <div class="col-sm-6 col-sm-offset-3">
    <h2> Admin Page </h2>
    <div class="links">
      <h3>
        <%= link_to 'Manage Products', admin_products_path, class: 'btn btn-link' %>
      </h3>
      <h3>
        <%= link_to 'Manage Users', '#', class: 'btn btn-link' %>
      </h3>
    </div>
  </div>
</div>
