/*
  *= require select2
  *= require select2-bootstrap
  *= require fontawesome-stars
  *= require fontawesome-stars-o
  *= require_self
*/

@import "bootstrap";
@import "font-awesome";
@import "products.scss";
@import "reviews.scss";
@import "custom_bs.scss";
@import "autocomplete.scss";

.popover{position:fixed;}

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

@media screen and (max-width: 1007px) {
  .logo {
    padding-bottom: 30px;
    img {
      float: none !important;
      display: block;
      margin: 0 auto !important;
    }
  }
}

.container {
  margin-top: 100px;
}

.logo {
  img {
    margin-right: 5%;
    float: right;
  }
}

.centered-form {
  margin-top: 200px;
  background-color: #fafafa;
  padding: 40px;
}

#alerts {
  position: fixed;
  z-index: 1;
}

.product-form {
  textarea#product_description {
    resize: vertical;
    max-height: 250px;
  }
}

.thumbnail {
  position: relative;
  // height: 350px;
  background-color: #fafafa;
  h3.product-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .product-thumbnail {
    width: 100%;
    height: auto;
    // height: 180px;
    //@include aspect-ratio(16, 9);
  }
  .description {
    height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  a.small-link {
    font-size: 12px;
    text-decoration: underline;
  }
  .categories-links {
    position: absolute;
    left:    10px;
    bottom:   10px;
  }
  .btn-add-to-cart {
    position: absolute;
    right:    10px;
    bottom:   10px;
  }
  .btn-edit-product {
    position: absolute;
    bottom: 10px;
    left: 10px;
  }
}
div.pagination {
  text-align: center;
  display: block;
  margin: 0 auto;
}

.label-pill {
  padding-right: .7em;
  padding-left: .7em;
  border-radius: 1rem;
}

.clickable:hover {
  cursor: pointer;
}

.panel-credit-card {
  .panel-body {
    display: none;
  }
}

.control-group.has-error {
  input {
    margin-top: -20px;
  }
}
