.btn-info {
	background-color: lighten(#fafafa, 5%);
  border-color: #a8a8a8;
  color: #428bca;
  &:hover {
	  background-color: lighten(#fafafa, 5%);
    border-color: darken(#428bca, 10%);
    color: darken(#428bca, 10%);
  }
}
