<%# frozen_string_literal: true %>
<div class="container products">
    <%= render @products %>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <%= will_paginate(@products) %>
      </div>
    </div>
</div>
