<!-- <div class="navbar navbar-default navbar-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-left">© 2014 - Site Built By Mr. M.
         <a href="http://tinyurl.com/tbvalid" target="_blank" >HTML 5 Validation</a>
    </p>

    <a href="http://youtu.be/zJahlKPCL9g" class="navbar-btn btn-danger btn pull-right">
    <span></span>  Subscribe on YouTube</a>
  </div>
</div> -->

<div class="navbar navbar-default footer">
  <div class="container-fluid">
    <p class="navbar-text pull-left">© 2017 - Site Built By Jakub Kopyś
         <a href="http://tinyurl.com/tbvalid" target="_blank" >HTML 5 Validation</a>
    </p>

    <%= link_to "Contact Us", "#", class: 'navbar-btn btn btn-default' %>
    <%= link_to "About Us", "#", class: 'navbar-btn btn btn-default' %>
    <%= link_to "FAQ", "#", class: 'navbar-btn btn btn-default' %>


    <a href="http://youtu.be/zJahlKPCL9g" class="navbar-btn btn-danger btn pull-right">
    <span></span>  Subscribe on YouTube</a>
  </div>
</div>
